<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>


    <title>
        {%  if title %}
        {{title}}
        {% else %}
        Todo Project
        {% endif %}
    </title>
</head>
<body>

    {% block navbar %}
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"> Todo Project</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'todoapp:home' %}">Home</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li><a href="#"> {{ user.get_username}}</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="/signup">Sign-up</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    <script type="text/JavaScript">

        $(document).ready(function(){

            //  $("#search_input").on("keyup", function() {
            //     var value = $(this).val().toLowerCase();
            //     $("#accordion div").filter(function() {
            //     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            //     });
            // });

            // $("#search_input").on("keyup",function() {
            // var searchText = $(this).val().trim().toLowerCase();
            // $(".panel-group").find("a").each(function(i, elem) {
            //     if ($(this).text().trim().toLowerCase() == searchText) {
            //     $(this).closest(".panel-collapse .collapse").filter(":not(.in)").prev(".panel-heading").find("a[data-toggle='collapse']").click();
            //     }
            //     });
            // });

            var searchTerm, panelContainerId;
            // Create a new contains that is case insensitive
              $.expr[':'].containsCaseInsensitive = function (n, i, m) {

                return jQuery(n).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;

              };

              $('#search_input').on('change keyup paste click', function () {
                searchTerm = $(this).val();
                // console.log(searchTerm);
                $('#accordion > .panel').each(function () {
                  panelContainerId = '#' + $(this).attr('id');
                //   console.log(panelContainerId);
                 // console.log(panelContainerId + ':not(:containsCaseInsensitive(' + searchTerm + '))');
                  var titleText = $(panelContainerId +'_title').text();
                //   console.log(titleText);
                  if(titleText.toLowerCase().search(searchTerm.toLowerCase())==-1)
                  {
                      $(panelContainerId).hide();
                  }
                  else
                  {
                      $(panelContainerId).show();
                  }
                });
              });

            $("#add_task_btn").click(function(){

                console.log("ADD TASK CLICKEDD")

            });

            function isValidDate(s) {
                var bits = s.split('-');
                var d = new Date(bits[0], bits[1] - 1, bits[2]);
                return d && (d.getMonth() + 1) == bits[1];
            }
            function isValidDate2(s) {
                var bits = s.split('/');
                var y = bits[2],
                    m = bits[1],
                    d = bits[0];
                // Assume not leap year by default (note zero index for Jan)
                var daysInMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

                // If evenly divisible by 4 and not evenly divisible by 100,
                // or is evenly divisible by 400, then a leap year
                if ((!(y % 4) && y % 100) || !(y % 400)) {
                    daysInMonth[1] = 29;
                }
                return !(/\D/.test(String(d))) && d > 0 && d <= daysInMonth[--m]
            }


            $("#add_task_submit").click(function(){

                d= {}
                flag = 1
                if(document.getElementById("title_inp").value != "")
                {
                    console.log(document.getElementById("title_inp").value)
                    d["title"]= document.getElementById("title_inp").value;

                }else{
                    $.alert('Please enter a title', 'Invalid Input');
                    flag=0;
                }

                var due_date = document.getElementById("due_date_inp").value
                if(due_date != "")
                {
                    if(isValidDate(due_date)){
                        var bits = due_date.split('-');
                        var da = new Date(bits[0], bits[1] - 1, bits[2]);
                        console.log(da);
                        d['due_date']= da ;
                    }else{
                        $.alert("Inavlid date", "Enter valid Date")
                        flag=0;
                    }


                }else{
                    flag=0;
                }
                //console.log(document.getElementById("due_date_inp").value);

                if(flag==1){


                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        console.log(this.responseText);
                        var res=JSON.parse(this.responseText);
                        if(res["status"] == "OK"){
                            $('#add_task_modal').modal('hide');
                            $.confirm({
                                title: 'Task Added!',
                                content: 'Your task was added successfully!',
                                buttons: {
                                    Okay: function () {
                                        location.reload(true);
                                    }
                                }
                            });
                        }

                    }
                    };
                    var parm='title='+ d['title'] + '&due_date=' + d['due_date'] + '&csrfmiddlewaretoken=' + '{{csrf_token}}';
                    xhttp.open("POST", "/todo/add_task", false);
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xhttp.send(parm);





                }else{
                    console.log("REQUEST FAILED... INVALID DATA")
                }




            });

            $(function(){
                $('[type="date"]').prop('min', function(){
                    return new Date().toJSON().split('T')[0];
                });
            });

            $(".marktask").click(function(){

                var view_id = $(this).attr("id")
                console.log("MARK TASK VIEW ID "+ view_id)
                
                var action = view_id.split("_")[0]
                var task_id = view_id.split("_")[1]
                console.log("MARK TASK ID "+ task_id)

                var is_completed = "FALSE"
                if(action=="done"){
                    is_completed = "TRUE"
                }
                

                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText);
                    var res=JSON.parse(this.responseText);
                    if(res["status"] == "OK"){
                        if(is_completed=="TRUE"){
                            $.confirm({
                                title: 'Task marked as Completed!',
                                content: 'Your task was marked completed successfully!',
                                buttons: {
                                    Okay: function () {
                                        location.reload(true);
                                    }
                                }
                            });
                        }else{
                            $.confirm({
                                title: 'Task marked as Pending!',
                                content: 'Your task was marked as pending !',
                                buttons: {
                                    Okay: function () {
                                        location.reload(true);
                                    }
                                }
                            });
                        }
                        
                    }

                }
                };
                var parm='id='+ task_id +'&is_completed='+ is_completed + '&csrfmiddlewaretoken=' + '{{csrf_token}}';
                xhttp.open("POST", "{% url 'todoapp:mark_task' %}", false);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send(parm);






            });





        });

    </script>


    <div class="container">
        <div class="row">
            <div class="col-md-12">

                {% block content %}

                {% endblock %}

            </div>
        </div>
    </div>


</body>
</html>