
{% extends "todoapp/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <br>
        <p style="font-size: 24px;">Tasks</p>

        <div class="row">
        <div class="col-md-12">

          <div class="col-md-8">
            <input class="form-control" id="search_input" type="text" placeholder="Search Tasks ...">
          </div>

          <div class="col-md-1" align="">
                <button class="btn" id="add_task_btn" data-toggle="modal" data-target="#add_task_modal"  >Add Task</button>
              </div>

          <div class="col-md-1">

            <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" >
                        <span id="dropdown_text" type= "text"></span> 
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="?filter=All">All</a></li>
                        <li><a class="dropdown-item" href="?filter=today">Today</a></li>
                        <li><a class="dropdown-item" href="?filter=overdue">Overdue</a></li>
                        <li><a class="dropdown-item" href="?filter=this_week">This week</a></li>
                        <li><a class="dropdown-item" href="?filter=next_week">Next week</a></li>
                    </ul>
            </div>


          </div>


        </div>
        </div>



    </div>

    <br>

    <!-- -------------- accordion below ------------- -->

    {% if todo_list %}

    <div class="panel-group" id="accordion">

        {% for todo in todo_list %}

        <div class="panel panel-default" id="hey{{forloop.counter}}">
            <div class="panel-heading" {% if todo.is_completed %} style="background:#e9e6e6;" {% endif %} >
                <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 panel2" id="hey{{forloop.counter}}_title">
                       <h4 class="panel-title"  >
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}"  {% if todo.is_completed %} style="color:#807e7eda;" {% endif %}   >
                            {{ todo.title }}
                        </a>
                       </h4>
                    </div>
                    <div class=" row col-md-6" align="end">
                        {% if todo.is_completed %}
                        <span class="label label-default">Completed</span>
                        <span class="label label-default">{{ todo.due_date }}</span>
                        {% else %}
                        <span class="label label-success">Pending</span>
                        <span class="label label-success">{{ todo.due_date }}</span>
                        {% endif %}
                    </div>
                </div>
                </div>
            </div>

            <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
                <div class="panel-body">
                    {% if todo.subtask_set.all %}
                    <ul>
                       {% for subt in todo.subtask_set.all %}
                       <li>{{subt.title}}</li>
                       {% endfor %}
                    </ul>
                    {% else %}
                    <p>No sub-tasks to show.</p>
                    {% endif %}
                    <button class="btn btn-sm addsubtask" id="{{todo.id}}" data-toggle="modal" data-target="#add_sub_task_modal">Add Sub-tasks</button>
                </div>
                <div class="panel-footer" align="end">
                    {% if not todo.is_completed %}
                    <button class="btn btn-success marktask" id="done_{{todo.id}}">Mark Complete</button>
                    {% else %}
                    Task Done. <a class="marktask" id="undone_{{todo.id}}" href="#">Mark as Pending</a>
                    {% endif %}
                    <button class="btn btn-danger deletetask" id="{{todo.id}}"><i class="fa fa-trash" aria-hidden="true" style="font-size:18px;"></i></button>
                    

                </div>

            </div>
        </div>
        <br>

    {% endfor %}
    </div>
    {% else %}
    <p>No tasks to do.</p>
    {% endif %}










<!--
    {% if todo_list %}

    {% for todo in todo_list %}
        <a href="#">{{ todo }}</a>
    {% endfor %}
    {% else %}
    <p>No tasks to do.</p>
    {% endif %} -->




</div>



<!-- modal add task here  -->

<div id="add_task_modal" class="modal fade" >
        <div class="modal-dialog">
                <div class="modal-content">



                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add new task</h4>
                    </div>

                    <div class="modal-body">



                        <form id="" action="/" method="post">

                            <div class="row">
                                <div class="input-field col-md-12">
                                    <label for="title_inp">Task Title : </label>
                                    <input  id="title_inp" type="text" class=" form-control validate" placeholder="Enter Task Title" maxlength="198">
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-field inline">
                                        <label for="due_date_inp" >Due date : </label>
                                    <input  id="due_date_inp" type="date" class=" form-control validate" placeholder="Due date for task">
                                    </div>
                                </div>
                            </div>


                        </form>



                    </div>

                    <div class="modal-footer">
                        <button type="button" id="add_task_submit" class="btn btn-default">Submit</button>
                    </div>


                </div>

        </div>
    </div>


    <!-- --------- add SUB-TASK modal below ----------- -->




<div id="add_sub_task_modal" class="modal fade" >
    <div class="modal-dialog">
            <div class="modal-content">



                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Sub-tasks</h4>
                </div>

                <div class="modal-body">

                    <p>Sub-tasks :</p>
                    <div class="input_fields_wrap">
                        <input type="text" name="answer[]" class="field-long form-control" placeholder="Enter sub-task ..." maxlength="198"/>
                    </div>

                    <br>
                    <button class="btn btn-sm btn-primary add_field_button">Add another sub-task</button>
                    <button class="btn btn-sm btn-danger remove_field_button">Remove sub-task</button>

                    <input id="task_id_for_subtask" type="text" class="validate" hidden>

                </div>

                <div class="modal-footer">
                    <button type="button" id="add_sub_task_submit" class="btn btn-default">Save</button>
                </div>


            </div>

    </div>
</div>












{% endblock %}